.event-card {
    background: url('https://143223961.fs1.hubspotusercontent-eu1.net/hubfs/143223961/raw_assets/public/Assets/Shalom%20Events/events-card.svg');
    background-repeat: no-repeat;
    position: relative;
    border-radius: 16px;
    width: 270px;
    background-size: 100%;
    height: 270px;
    p{
        padding: 0px;
        margin: 0px;
    }

    .card-content {
        position: absolute;
        left: 0;
        right: 0;
        /* min-width: 270px; */
        max-width: 1fr;
        padding: 10px;

        .card-text {
            // padding: 31px 56px 0px 56px;
            width: 100%;
            height: auto;

            h1 {
                font-family: Inter;
                font-size: 32px;
                font-weight: 700;
                line-height: 38.73px;
                text-align: center;
                color: #D96209;
            }

            p {
                font-family: Inter;
                font-size: 25px;
                font-weight: 600;
                line-height: 30.26px;
                text-align: center;
                color: #515151;
                // padding-top: 8px;
                // padding-bottom: 19px;
            }

            h3 {
                font-family: Inter;
                font-size: 18px;
                font-weight: 600;
                line-height: 21.78px;
                text-align: center;
                margin-top: 12px;
                color: #D96209;
            }

        }

        a {
            &.more-btn {
                border: 1px solid #D96209;
                border-radius: 40px;
                padding: 6px 23px;
                font-family: Inter;
                font-size: 14px;
                font-weight: 500;
                line-height: 16.94px;
                text-align: center;
                color: #D96209;
                cursor: pointer;
            }
        }

        & .hr-line {
            border-top: 1px dashed #7D4B2980;
            margin-top: 14px;
            margin-bottom: 18px;
        }

        // .cutout {
        //     width: 46px;
        //     height: 46px;
        //     background: linear-gradient(180deg, #D85E07 0%, #FFAD38 100%);
        //     position: absolute;
        //     top: 50%;
        //     transform: translateY(-50%);
        //   }
        //   .cutout.left {
        //     left: 0;
        //     clip-path: circle(23px at 0% 50%);
        //   }
        //   .cutout.right {
        //     right: 0;
        //     clip-path: circle(23px at 100% 50%);
        //   }
    }

}
.blur-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px); /* Adjust the blur intensity as needed */
  }